* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #001e6b, #647df9);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container {
    width: 100%;
    max-width: 420px;
    text-align: center;
    padding: 30px 20px;
}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 15px;
}

h1 {
    font-size: 26px;
    margin-bottom: 5px;
}

span {
    font-size: 14px;
    opacity: 0.9;
}

.links {
    margin-top: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    width: 100%;
    padding: 16px;
    margin-bottom: 15px;

    border: 2px solid white;
    border-radius: 14px;

    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

    transition: 0.3s;
    backdrop-filter: blur(6px);
}

.btn i {
    font-size: 22px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(1.03);
}
