
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

header {
    background: #001e6b;
    color: white;
    padding: 20px;
}

.slider {
    position: relative;
    max-width: 800px;
    margin: 40px auto;
}

.slider img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

footer {
    background: #001e6b;
    color: white;
    padding: 15px;
}
.fade {
    animation: fade 0.6s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
